:root {
  --backgroundColor: #953036;
  --textColor: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  text-align: center;
}
