:root {
  --background: #953036;
  --text: #FFF;
  --lightRed: #DA292A;
  --darkerRed: #b20000;
  --inputsBackground: #FFF;
  --gray: #BEBEBE;
  --grayHover: #686868;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}